/*Tweet display css*/
.tweet-article,
.tweet-link,
.twt-img-link {
  z-index: 2;
  position: relative;
}

.tweet-article:hover {
  background-color: #f7f7f7;
}

.tweet-article {
  width: 100%;
  height: auto;
}

.tweet-article a {
  text-decoration: none;
}

.tweet-article a:hover {
  text-decoration: underline;
}

.tweet-btns {
  color: #909eab;
}

.tweet-btns > a {
  text-decoration: none;
  color: #909eab;
}
.share-btn,
.like-btn,
.retweet-btn {
  margin-left: 110px;
}

.tweet-btns > a.reply-btn:hover,
.tweet-btns > a.share-btn:hover {
  color: #42aff3;
  cursor: pointer;
  text-decoration: none;
}

.tweet-btns > a.retweet-btn:hover {
  color: #23c26b;
  cursor: pointer;
  text-decoration: none;
}

.tweet-btns > a.like-btn:hover {
  color: #e44878;
  cursor: pointer;
  text-decoration: none;
}

.tweet-user-img {
  width: 60px;
  height: 60px;
}

.tweet-opts {
  color: #5b7092;
}

.tweet-delete-btn {
  color: #e0245e;
  text-decoration: none;
}

.tweet-img{
  height: 100%;
  width: 100%;
}

.twt-img-link{
  height: 100%;
  width: 100%;
  display: flex;
}


