<article *ngIf="tweet.tweetFlag" class="tweet-article border-bottom">
  <div class="d-flex">
    <div class="col-2 pt-2 pb-3 pe-3">
      <div class="square">
        <a routerLink="/{{tweet.username}}">
          <div class="rounded-img-container mx-3 mb-4">
            <img *ngIf="tweet.username == username; else foreignUserPic" class="rounded-img"
              [src]="authService.getAuthenticatedUserInfos()?.profilePicPath" alt="tweet-user-profile-picture">
            <ng-template #foreignUserPic>
              <img class="rounded-img" [src]="tweet.profilePicPath" alt="tweet-user-profile-picture">
            </ng-template>
          </div>
        </a>
      </div>
    </div>
    <div class="col-10">
      <div class="d-flex justify-content-between flex-column">
        <div class="d-flex justify-content-between">
          <div class="d-inline-block">
            <a routerLink="/{{tweet.username}}" class="tweet-link fw-bold clr-blck">{{tweet.fullname}} </a>
            <label class="transp-text">@{{tweet.username}} </label>
            <span class="ms-1">&#183;</span><a (click)="tweetReplyStream()"
              class="tweet-link ms-1 transp-text">{{tweet.createdDate
              | date:'dd.MM.yyyy'}}</a>
          </div>
          <div ngbDropdown #dropDown="ngbDropdown" class="me-4">
            <a (click)="$event.stopPropagation(); dropDown.open();" class="tweet-link tweet-opts" role="button"><i
                class="fas fa-ellipsis-h"></i></a>
            <div ngbDropdownMenu>
              <a ngbDropdownItem *ngIf="tweet.ownershipStatus === true && tweet.followFlag === false"
                (click)="deleteTweet()" class="tweet-delete-btn tweet-link dec-none tweet-menu-link"><i
                  class="far fa-trash-alt"></i>
                Delete</a>
              <div>
                <a ngbDropdownItem *ngIf="tweet.ownershipStatus === false && tweet.followFlag === true"
                  (click)="unfollow()" class="tweet-link follow-unfollow-btn dec-none tweet-menu-link"><i
                    class="fas fa-user-times"></i>
                  Unfollow</a>
                <a ngbDropdownItem *ngIf="tweet.ownershipStatus === false && tweet.followFlag === false"
                  (click)="follow()" class="tweet-link follow-unfollow-btn dec-none tweet-menu-link"><i
                    class="fas fa-user-plus"></i>
                  Follow</a>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="tweet.mainTweetOwnerUsername !== null">
          <label class="transp-text me-1">Replying to </label>
          <a routerLink="/{{tweet.mainTweetOwnerUsername}}" class="tweet-link">@{{tweet.mainTweetOwnerUsername}} </a>
        </div>
      </div>
      <div *ngIf="tweet.tweetDetail !== null">
        <p class="text-break pe-4">
          {{tweet.tweetDetail}}
        </p>
      </div>
      <div *ngIf="tweet.tweetImageInfos">
        <div *ngIf="tweet.tweetImageInfos.length > 0" class="d-flex rd20x ov-hidden me-5">
          <div *ngFor="let img of tweet.tweetImageInfos; let i = index" style="max-width:500px; max-height: 300px;"
            [style.width.%]="tweet.tweetImageInfos.length%2 == 0?'50':'100'" [style.margin-left.px]="i>0?'2':'0'">
            <a class="twt-img-link" aria-label="image-link">
              <img [src]="img.imagePath" class="tweet-img" alt="tweet-image"
                style="object-fit: cover; object-position: top;" />
            </a>
          </div>
        </div>
      </div>
      <div class="mt-3 tweet-btns">
        <a class="reply-btn tweet-link" (click)="openModal()" aria-label="reply-link">
          <i class="far fa-comment fa-lg"></i>
          <span> {{tweet.replyCounter}}</span>
        </a>
        <a class="retweet-btn tweet-link"><i class="fas fa-retweet fa-lg"></i><span> {{tweet.retweetCounter}}</span></a>
        <a (click)="likeCheck()" #dislikeBtn class="like-btn tweet-link"
          [ngStyle]="{'color': tweet.likeFlag ? '#E44878':''}"><i #heart [ngClass]="tweet.likeFlag ? 'fas' : 'far'"
            class="fa-heart fa-lg"></i><span> {{tweet.likeCounter}}</span></a>
        <a class="share-btn tweet-link"><i class="fas fa-share fa-lg"></i></a>
      </div>
      <a class="stretched-link" (click)="tweetReplyStream()"></a>
    </div>
  </div>
</article>
<app-reply-modal #replyModal></app-reply-modal>
