<div class="d-flex border-bottom pos-stc top-0 p-1 bg-white z-3">
  <h3 class="ms-5"><b>Home</b></h3>
</div>
<app-tweet-editor (addedNewTweet)='addNewTweet($event)'></app-tweet-editor>
<section class="hgt-min">
  <div *ngIf="loadingFlag; else loading;">
    <div *ngIf="tweets != null; else freshStart;">
      <app-tweet *ngFor="let tweet of tweets" [tweet]="tweet"></app-tweet>
    </div>
    <ng-template #freshStart>
      <div class="row justify-content-center align-items-center my-5">
        <div class="col-7">
          <h2>Welcome to Twitter!</h2>
          <span class="">This is the best place to see what’s
            happening
            in your world. Find some people and topics to follow now.</span>
        </div>
      </div>
    </ng-template>
  </div>
  <ng-template #loading>
    <div class="d-flex justify-content-center align-items-center" style="min-height: 50vh;">
      <div class="spinner-border text-primary" role="status">
      </div>
    </div>
  </ng-template>
</section>
