<section class="hgt-offset">
  <div *ngIf="tweetReplyStream != null; else loading;">
    <div class="d-flex border-bottom ">
      <header>
        <h3 class="ms-5"><b>Tweet</b></h3>
      </header>
    </div>
    <app-tweet [tweet]="tweetReplyStream[0]"></app-tweet>
    <div class="my-3 border-top border-bottom">
      <header>
        <h3 class="ms-5">Replies</h3>
      </header>
    </div>
    <div *ngIf="tweetReplyStream.length > 1" class="scrollable1 tweet-stream">
      <div class="scrollable2 border-top">
        <app-tweet *ngFor="let tweet of tweetReplyStream | slice:1" [tweet]="tweet"></app-tweet>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <div class="d-flex justify-content-center align-items-center">
      <div class="spinner-border text-primary" role="status">
      </div>
    </div>
  </ng-template>
</section>
