.search-caps {
  margin-top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(239, 243, 244);
  border: 1px solid rgb(239, 243, 244);
  border-radius: 9999px;
  width: 100%;
  overflow: hidden;
}

.search-icon {
  height: 20px;
}

.search-input {
  width: 100%;
  font-size: 15px;
  background-color: rgb(239, 243, 244);
  padding: 10px;
  outline: none;
  opacity: 0.9;
  border: none;
}

.caps-onfocus {
  border: 1px solid #5bb7f4;
  background-color: rgb(255, 255, 255);
}

.onfocus-fill-icon {
  fill: #1d9bf0;
}

.input-onfocus {
  background-color: rgb(255, 255, 255);
}
.search-result {
  overflow: auto;
  max-height: 500px;
  box-shadow: rgb(101 119 134 / 20%) 0px 0px 15px,
    rgb(101 119 134 / 15%) 0px 0px 3px 1px;
}
.result-img {
  width: 60px;
  height: 60px;
}
