<div *ngIf="followList != null && displayFlag != null">
  <div class="pos-fix fixed-header top-0">
    <div class="d-flex border-bottom ">
      <header>
        <h3 class="mb-0 ms-5">{{followList.fullname}}</h3>
        <h6 class="ms-5 transp-text">@{{followList.username}}</h6>
      </header>
    </div>
    <div class="btn-group container-fluid border-bottom" role="group">
      <button type="button" id="nav-btn-follower" class="btn nav-btn"
        (click)="showFollowers()"><b>Followers</b></button>
      <button type="button" id="nav-btn-following" class="btn nav-btn"
        (click)="showFollowings()"><b>Following</b></button>
    </div>
  </div>

  <div class="pos-rel header-offset">
    <div *ngIf="!displayFlag" id="follower">
      <div *ngIf="followList.followers.length > 0" class="d-flex flex-column align-items-center">
        <article *ngFor="let follower of followList.followers" class="user-block">
          <div class="d-flex mt-3 border ps-3" >
            <div class="col-2">
              <a routerLink="/{{follower.id}}" id="tw-links">
                <div class="rounded-img-container mt-2 mb-2">
                  <img class="rounded-img user-img" [src]="follower.profilePicPath">
                </div>
              </a>
            </div>
            <div class="col-10 mt-3">
              <label class="fw-bold clr-blck">{{follower.fullname}} </label>
              <label class="transp-text ms-1"> @{{follower.username}} </label>
              <a class="stretched-link" routerLink="/{{follower.id}}"></a>
            </div>
          </div>
        </article>
      </div>
    </div>

    <div *ngIf="displayFlag" id="following">
      <div *ngIf="followList.followings.length > 0" class="d-flex flex-column align-items-center">
        <article *ngFor="let following of followList.followings" class="user-block">
          <div class="d-flex mt-3 border ps-3">
            <div class="col-2">
              <a routerLink="/{{following.id}}" id="tw-links">
                <div class="rounded-img-container mt-2 mb-2">
                  <img class="rounded-img user-img" [src]="following.profilePicPath">
                </div>
              </a>
            </div>
            <div class="col-10 mt-3">
              <label class="fw-bold clr-blck">{{following.fullname}} </label>
              <label class="transp-text ms-1"> @{{following.username}} </label>
              <a class="stretched-link" routerLink="/{{following.id}}"></a>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
