.user-img {
  width: 60px;
  height: 60px;
}

.follow-article {
  width: 100%;
  position: relative;
}

.follow-article:hover {
  background-color: #f7f7f7;
}

.nav-btn {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-caps {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-caps:hover {
  background: #e7e7e8;
  cursor: pointer;
}

.btn-active {
  height: 4px;
  background-color: rgb(29, 155, 240);
  width: 100%;
  border-radius: 9999px;
  position: absolute;
  bottom: 0;
  align-self: center;
}

.btn-inside {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  width: max-content;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 15px;
  font-weight: 500;
  color: #5b7083;
}

.hgt-offset{
  height: 85.9vh;
}
