/*Profile Card CSS*/
﻿.profile-head {
  transform: translateY(5rem);
}

.cover {
  background-size: cover;
  background-repeat: no-repeat;
}

.card-profile-img {
  border: 5px solid white;
}

.follow-link:hover {
  text-decoration: underline !important;
  text-decoration-color: black !important;
  cursor: pointer;
}

.web-site-link {
  color: #44acf3;
}

.web-site-link:hover {
  cursor: pointer;
  text-decoration: underline !important;
}

.fw500 {
  font-weight: 500;
}

.square {
  min-width: 100px;
}
