<div class="d-flex border-bottom pos-stc top-0 z-3 bg-white p-1">
    <header>
      <h3 class="ms-5">{{userProfileCard.fullname}}</h3>
    </header>
  </div>
  <div class="d-flex px-4 pt-0 pb-4 cover" style="background-image: url({{userProfileCard.backgroundPath}});">
    <div class="profile-head col-4">
      <div class="square mt-3">
        <a routerLink="/{{userProfileCard.id}}">
          <div class="rounded-img-container">
            <img [src]="userProfileCard.profilePicPath" class="rounded-img card-profile-img">
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="px-4 pt-4">
    <div class="row justify-content-end">
      <button *ngIf="userProfileCard.followFlag == null && userProfileCard.id === userID"
        class="btn btn-outline-primary rd20x wdt-max" (click)="openModal()">
        <b>Set up profile</b>
      </button>
      <div class="row justify-content-end">
        <button *ngIf="userProfileCard.followFlag === true && userProfileCard.id !== userID"
          class="btn btn-primary rd20x wdt-max" (click)="unfollow()">
          <b>Following</b>
        </button>
        <button *ngIf="userProfileCard.followFlag === false && userProfileCard.id !== userID"
          class="btn btn-outline-primary rd20x wdt-max" (click)="follow()">
          <b>Follow</b>
        </button>
      </div>
    </div>

    <div class="row justify-content-start">
      <ul class="list-inline">
        <li>
          <h5 class="mb-0">{{userProfileCard.fullname}}</h5>
        </li>
        <li>
          <h6 class="text-muted">@{{userProfileCard.username}}</h6>
        </li>
        <li *ngIf="userProfileCard.personalInfo !== null" class="mt-2 text-break">
          {{userProfileCard.personalInfo}}</li>
        <li class="mt-2 d-flex">
          <label *ngIf="userProfileCard.location !== null" class="text-muted fw500">
            <i class="fas fa-map-marker-alt"></i> {{userProfileCard.location}}
          </label>
          <div *ngIf="userProfileCard.personalWebSiteURL != null">
            <label *ngIf="userProfileCard.personalWebSiteURL !== null" class="ms-2 fw500">
              <i class="fas fa-link me-1"></i><a [href]="userProfileCard.personalWebSiteURL" class="web-site-link dec-none" target="_blank">
                <label
                  *ngIf="userProfileCard.personalWebSiteURL.length > 30; else shortVer">{{userProfileCard.personalWebSiteURL
                  | slice:0:25}}...</label>
                <ng-template #shortVer>{{userProfileCard.personalWebSiteURL}}</ng-template>
              </a>
            </label>
          </div>
          <label class="text-muted fw500"
            [ngStyle]="{'margin-left': (userProfileCard.location !== null || userProfileCard.personalWebSiteURL !== null) ? '8px': '0'}">
            <i class="far fa-calendar-alt"></i> Joined
            {{userProfileCard.createdDate | date:'MMM y'}}
          </label>
        </li>
        <li class="list-inline-item">
          <a (click)="followList(true)" class="follow-link dec-none">
            <h6 class="text-muted"><b class="text-dark">{{userProfileCard.followingCounter}}</b> Following</h6>
          </a>
        </li>
        <li class="list-inline-item">
          <a (click)="followList(false)" class="follow-link dec-none">
            <h6 class="text-muted"><b class="text-dark">{{userProfileCard.followerCounter}}</b> Follower</h6>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <app-profile-edit-modal (sendUpdatedUserData)='updateProfile($event)' #editModal
    *ngIf="userProfileCard.fullname != undefined && userProfileCard.followFlag == null" [profileData]="userProfileCard">
  </app-profile-edit-modal>
