<div class="container-fluid">
  <div class="row">
    <div class="col d-flex justify-content-center z-1 bg-cover bg-no-repeat bg-center top-0 btm-0 rgt-0 lft-0"
      style="height: 900px; background-image: url('https://abs.twimg.com/sticky/illustrations/lohp_1302x955.png');">
      <img src="https://abs.twimg.com/sticky/illustrations/lohp_1302x955.png" draggable="false"
        class="fp-img wdt100 hgt100 z-1" alt="front-page-picture" />
      <svg class="fp-large-logo" viewBox="0 0 24 24">
        <g>
          <path
            d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49
              2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572
              0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63
              1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257
              1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593
              1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062
              1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z">
          </path>
        </g>
      </svg>
    </div>
    <div class="col">
      <div class="ms-4">
        <div class="fp-mini-logo">
          <svg viewBox="0 0 24 24">
            <g>
              <path
                d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49
                2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572
                0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63
                1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257
                1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593
                1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062
                1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z">
              </path>
            </g>
          </svg>
        </div>
        <div class="row mt-3 fw-bolder">
          <label class="lbl-big"><strong>Happening now</strong></label>
        </div>
        <div class="row mt-4 fw-bolder">
          <label class="lbl-small">Join Twitter today.</label>
        </div>
        <div class="row mt-3">
          <a class="btn btn-primary bg-twt-blue1 borderless wdt400x rd30x btn-sign-up pd15"
            (click)="openModal()"><strong>Sign up</strong></a>
        </div>
        <div class="row mt-2">
          <a class="btn btn-outline-primary wdt400x rd30x blue1 pd15" routerLink="/login"><strong>Log in</strong></a>
        </div>
      </div>
    </div>
  </div>
  <nav aria-label="Footer" role="navigation" class="footer">
    <a href="https://about.twitter.com" class="footer-link" dir="auto" rel="noopener noreferrer" target="_blank"
      role="link"><span class="footer-span">About</span></a>
    <a href="https://help.twitter.com" class="footer-link" dir="auto" rel="noopener noreferrer" target="_blank"
      role="link"><span>Help Center</span></a>
    <a href="https://twitter.com/tos" class="footer-link" dir="auto" rel="noopener noreferrer" target="_blank"
      role="link"><span>Terms of
        Service</span></a>
    <a href="https://twitter.com/privacy" class="footer-link" dir="auto" rel="noopener noreferrer" target="_blank"
      role="link"><span>Privacy
        Policy
      </span></a>
    <a href="https://support.twitter.com/articles/20170514" class="footer-link" dir="auto" rel="noopener noreferrer"
      target="_blank" role="link"><span>Cookie Policy</span></a>
    <a href="https://legal.twitter.com/imprint" class="footer-link" dir="auto" rel="noopener noreferrer" target="_blank"
      role="link"><span>Imprint</span></a>
    <a href="https://business.twitter.com/en/help/troubleshooting/how-twitter-ads-work.html?ref=web-twc-ao-gbl-adsinfo&amp;utm_source=twc&amp;utm_medium=web&amp;utm_campaign=ao&amp;utm_content=adsinfo"
      class="footer-link" dir="auto" rel="noopener noreferrer" target="_blank" role="link"><span>Ads info</span></a>
    <a href="https://blog.twitter.com" class="footer-link" dir="auto" rel="noopener noreferrer" target="_blank"
      role="link"><span>Blog</span></a>
    <a href="https://status.twitterstat.us" class="footer-link" dir="auto" rel="noopener noreferrer" target="_blank"
      role="link"><span>Status</span></a>
    <a href="https://careers.twitter.com" class="footer-link" dir="auto" rel="noopener noreferrer" target="_blank"
      role="link"><span>Careers</span></a>
    <a href="https://about.twitter.com/press/brand-assets" class="footer-link" dir="auto" rel="noopener noreferrer"
      target="_blank" role="link"><span>Brand Resources</span></a>
    <a href="https://ads.twitter.com/?ref=gl-tw-tw-twitter-advertise" class="footer-link" dir="auto"
      rel="noopener noreferrer" target="_blank" role="link"><span>Advertising</span></a>
    <a href="https://marketing.twitter.com" class="footer-link" dir="auto" rel="noopener noreferrer" target="_blank"
      role="link"><span>Marketing</span></a>
    <a href="https://business.twitter.com/?ref=web-twc-ao-gbl-twitterforbusiness&amp;utm_source=twc&amp;utm_medium=web&amp;utm_campaign=ao&amp;utm_content=twitterforbusiness"
      class="footer-link" dir="auto" rel="noopener noreferrer" target="_blank" role="link"><span>Twitter for
        Bussiness</span></a>
    <a href="https://developer.twitter.com" class="footer-link" dir="auto" rel="noopener noreferrer" target="_blank"
      role="link"><span>Developers</span></a>
    <a href="https://twitter.com/i/directory/profiles" class="footer-link" dir="auto" rel="noopener noreferrer"
      target="_blank" role="link"><span>Directory</span></a>
    <a href="/settings" class="footer-link" dir="auto" role="link"><span>Settings</span></a>
    <div dir="auto"><span>© 2021 Twitter, Inc.</span></div>
  </nav>
</div>

<ng-template #signupModal let-c="close" let-d="dismiss">
  <div class="modal-body">
    <form [formGroup]="signUpForm" (ngSubmit)="signUp()" method="POST">
      <div class="d-flex justify-content-center">
        <div class="fp-modal-logo">
          <svg viewBox="0 0 24 24">
            <g>
              <path
                d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49
                2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572
                0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63
                1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257
                1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593
                1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062
                1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z">
              </path>
            </g>
          </svg>
        </div>
      </div>
      <h4 class="modal-title">Create your account</h4>
      <div class="form-group">
        <input formControlName="fullName" type="text" placeholder="Name" id="name" class="form-control d-block"
          required>
        <div *ngIf="signUpForm.get('fullName')?.invalid && signUpForm.get('fullName')?.touched" class="text-danger">
          <span *ngIf="signUpForm.get('fullName')?.errors?.required">Fullname is required.</span>
          <span *ngIf="signUpForm.get('fullName')?.errors?.maxlength">Max 50 characters. </span>
        </div>
      </div>
      <div class="form-group" id="mail-group">
        <input formControlName="emailAddress" type="email" placeholder="E-mail" id="mail" class="form-control d-block"
          required>
        <div *ngIf="signUpForm.get('emailAddress')?.invalid && signUpForm.get('emailAddress')?.touched"
          class="text-danger">
          <span *ngIf="signUpForm.get('emailAddress')?.errors?.required">Email address is required.</span>
          <span *ngIf="signUpForm.get('emailAddress')?.errors?.maxlength">Max 50 characters. </span>
          <span *ngIf="signUpForm.get('emailAddress')?.errors?.email">Please type a valid mail. </span>
        </div>
      </div>
      <div class="form-group d-none" id="phone-group">
        <input formControlName="phoneNumber" type="tel" placeholder="Phone" id="phone" class="form-control d-block">
        <div *ngIf="signUpForm.get('phoneNumber')?.invalid && signUpForm.get('phoneNumber')?.touched"
          class="text-danger">
          <span *ngIf="signUpForm.get('phoneNumber')?.errors?.required">Phone number is required.</span>
          <span *ngIf="signUpForm.get('phoneNumber')?.errors?.maxlength">Max 20 characters. </span>
        </div>
      </div>
      <div class="form-group">
        <input formControlName="password" type="password" placeholder="Password" id="psw" class="form-control d-block"
          required>
        <div *ngIf="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched" class="text-danger">
          <span *ngIf="signUpForm.get('password')?.errors?.required">Password is required.</span>
          <span *ngIf="signUpForm.get('password')?.errors?.maxlength">Max 20 characters. </span>
        </div>
      </div>
      <div class="form-group">
        <button type="button" class="switch-btn" id="switch-btn">Use phone instead</button>
      </div>
      <h6>Date of birth</h6>
      <div class="form-group row d-flex justify-content-between">
        <div class="col">
          <select formControlName="month" (change)="checkMonth($any($event.target).value)" class="form-select" required>
            <option hidden value="">Month</option>
            <option *ngFor="let item of months; let i=index;" value="{{i}}">{{item}}</option>
          </select>
          <div *ngIf="signUpForm.get('month')?.invalid && signUpForm.get('month')?.touched" class="text-danger">
            <span *ngIf="signUpForm.get('month')?.errors?.required">Month is required.</span>
          </div>
        </div>
        <div class="col">
          <select formControlName="day" class="form-select" required>
            <option hidden value="">Day</option>
            <option *ngFor="let day of days; let i=index;" value="{{i+1}}">{{i+1}}</option>
          </select>
          <div *ngIf="signUpForm.get('day')?.invalid && signUpForm.get('day')?.touched" class="text-danger">
            <span *ngIf="signUpForm.get('day')?.errors?.required">Day is required.</span>
          </div>
        </div>
        <div class="col">
          <select formControlName="year" (change)="checkYear($any($event.target).value)" class="form-select" required>
            <option hidden value="">Year</option>
            <option *ngFor="let year of years; let i=index;" value="{{i+1970}}">{{i+1970}}</option>
          </select>
          <div *ngIf="signUpForm.get('year')?.invalid && signUpForm.get('year')?.touched" class="text-danger">
            <span *ngIf="signUpForm.get('year')?.errors?.required">Year is required.</span>
          </div>
        </div>
      </div>
      <div class="row mt-2 form-group justify-content-between">
        <button type="submit" class="btn btn-primary bg-twt-blue1  wdt200x rd20x borderless" (click)="c('Save click')"
          [disabled]="signUpForm.invalid">Sign
          up</button>
        <button type="reset" class="btn btn-outline-primary wdt200x rd20x" (click)="d('Close click')">Cancel</button>
      </div>
    </form>
  </div>
</ng-template>
