<ng-template #editModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h2 class="modal-title">Set up profile</h2>
  </div>
  <div class="modal-body">
    <form [formGroup]="profileEditForm" (ngSubmit)="editProfile()" id="edit-form" method="post">
      <div class="form-group">
        <input formControlName="fullname" type="text" placeholder="Name" id="name" class="form-control">
      </div>
      <div class="form-group">
        <textarea formControlName="personalInfo" class="form-control" id="info" placeholder="Bio"></textarea>
      </div>
      <div class="form-group">
        <input formControlName="location" type="text" placeholder="Location" id="loc" class="form-control">
      </div>
      <div class="form-group">
        <input formControlName="personalWebSiteURL" type="text" placeholder="Website" id="site" class="form-control">
      </div>
      <div class="form-group d-flex justify-content-between wdt-45">
        <h6>Pick a profile picture </h6>
        <label for="profile-pic" class="ms-2 blue3"><i class="fas fa-upload fa-lg"></i>
          <input formControlName="profilePic" (change)="addProfilePic($any($event.target).files)"
            class="form-control-file" type="file" id="profile-pic" hidden>
        </label>
      </div>
      <div class="form-group d-flex justify-content-between wdt-45">
        <h6>Pick a header </h6>
        <label for="bg-image" class="ms-2 blue3">
          <i class="fas fa-upload fa-lg"></i>
          <input formControlName="bgImage" (change)="addBgImage($any($event.target).files)" class="form-control-file"
            type="file" id="bg-image" hidden>
        </label>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-primary rd20x wdt-45" id="edit-profile-btn" (click)="editProfile()"
          [disabled]="profileEditForm.invalid">Save</button>
        <button type="reset" id="cancel" class="btn btn-outline-primary rd20x wdt-45" (click)="d('Close click')">
          Cancel
        </button>
      </div>
    </form>
  </div>
</ng-template>
<app-loading></app-loading>
