.logout-div {
  margin-top: 250px;
}

.logout-btn:hover{
  background-color: #E7E7E8;
}

.logout-btn {
  width: 100% !important;
  max-width: 250px;
}

.logout-img {
  width: 50px;
  height: 50px;
}

.logout-menu {
  max-width: 250px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.dropdown-toggle::after {
  display:none;
}
