<div *ngIf="userData != null" ngbDropdown placement="top-right" class="logout-div">
  <button class="btn btn-outline-light d-flex rd40x logout-btn"  ngbDropdownToggle
     role="button">
      <div class="rounded-img-container">
          <img title="user-image" class="rounded-img logout-img" [src]="authService.getUserData()?.profilePicPath">
      </div>
      <div class="ms-2">
          <h6 class="fw-bold clr-blck">{{userData.fullname}} </h6>
          <h6 class="transp-text">@{{userData.username}} </h6>
      </div>
  </button>
  <div ngbDropdownMenu class="rd40x logout-menu">
      <a ngbDropdownItem (click) = "logOut()">Log out</a>
  </div>
</div>
