.logout-div {
  margin-top: 230px;
  left:40px;
}

.logout-btn:hover{
  background-color: #E7E7E8;
}

.logout-btn {
  width: 100% !important;
  max-width: 250px;
}

.logout-img {
  width: 50px;
  height: 50px;
}

.logout-menu {
  max-width: 250px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  box-shadow: rgb(101 119 134 / 20%) 0px 0px 15px,
    rgb(101 119 134 / 15%) 0px 0px 3px 1px;
}

.dropdown-toggle::after {
  display:none;
}

.icon-ok{
  height: 20px;
  fill: #1D9BF0;
}
