/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

.form-control:focus {
  border: solid 2px #1d9bf0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Helpers */

/* Specifics */
.transp-text {
  opacity: 0.9;
  color: #6d7f90;
}

.rounded-img-container {
  position:absolute;
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
}

.rounded-img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  object-fit: cover;
  object-position: center;
}

.square{
  width: 80%;
  height: auto;
  position: relative;
  display: flex;
}

.square::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.z-3{
  z-index: 3;
}

.fl-wrap {
  flex-wrap: wrap;
}

.loading-text{
  font-size:2rem;
  color: #ffff;
}

/* Colors */
.clr-wht {
  color: white;
}

.clr-blck {
  color: black;
}

.blue1 {
  color: #0069d9;
}

.blue2 {
  color: #1d9bf0;
}

.blue3 {
  color: #1da1f2;
}

.bg-twt-blue1 {
  background-color: #86cdfe;
}

.bg-twt-blu2 {
  background-color: rgb(29, 155, 240);
}

.bg-white{
  background-color: rgb(255, 255, 255);
}
/* Borders */
.borderless {
  border: none;
}

.rd10x {
  border-radius: 10px;
}

.rd20x {
  border-radius: 20px;
}

.rd30x {
  border-radius: 30px;
}

.rd40x {
  border-radius: 40px;
}

.rd50x {
  border-radius: 50px;
}
/* Fonts */

/* Widths */
.wdt100 {
  width: 100%;
}

.wdt100x {
  width: 100px;
}

.wdt200x {
  width: 200px;
}

.wdt300x {
  width: 300px;
}

.wdt400x {
  width: 400px;
}

.wdt500x {
  width: 500px;
}

.wdt-min {
  width: min-content;
}

.wdt-max {
  width: max-content;
}

/* Heigths */
.hgt100 {
  height: 100%;
}

.hgt-window{
  height: 100vh;
}

/* Z-Index */
.z-1 {
  z-index: -1;
}

/* Background */
.bg-cover {
  background-size: cover;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-center {
  background-position: center;
}

.bg-black {
  background-color: rgba(0, 0, 0, 0) !important;
}

.bg-white{
  background: rgba(255, 255, 255, 1) !important;
}
/* Position */
.pos-abs {
  position: absolute;
}

.pos-rel {
  position: relative;
}

.pos-fix {
  position: fixed;
}

.pos-stc {
  position: sticky;
}

.top-0 {
  top: 0px;
}

.btm-0 {
  bottom: 0px;
}

.rgt-0 {
  right: 0px;
}

.lft-0 {
  left: 0px;
}

/* Overflow */
.ov-hidden {
  overflow: hidden;
}

/* Links */
.dec-none {
  text-decoration: none !important;
}

/* Modal */
.modal-content {
  border-radius: 1.5rem;
}

/* Form Warning */
input.ng-invalid.ng-dirty,
input.ng-invalid.ng-touched {
  border-color: #ff0000 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

select.ng-invalid.ng-touched {
  border-color: #ff0000 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}
