<div class="row justify-content-center" style="width: 1100px;">
  <div class="col-lg-7 border-right">
      <div class="row border-bottom">
          <header>
              <h3 style="margin-left: 40px;"><b>Home</b></h3>
          </header>
      </div>
      <app-tweet-editor></app-tweet-editor>
      <div class="scrollable1" style="height:1000px;">
          <div class="scrollable2">
              <app-tweet-stream></app-tweet-stream>
          </div>
      </div>
  </div>
  <div class="col-lg-5">
     <app-search-bar></app-search-bar>
  </div>
</div>
