.modal-content {
  border-radius: 50px;
}

.img-div {
  width: 50%;
  max-height: 200px;
  overflow: hidden;
}

.reply-tweet-text {
  resize: none;
  border-radius: 10px;
  width: 350px;
  height: 120px;
}

.reply-tweet-text::-webkit-scrollbar {
  width: 0;
}

.btn-div {
  width: 92%;
}
