<nav id="navbar">
    <ul>
        <li><a ><i style="color: #5FBCF5;" class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fas fa-home fa-sm"></i> Home</a></li>
        <li><a ><i class="fas fa-hashtag fa-sm"></i> Explore</a></li>
        <li><a ><i class="far fa-bell fa-sm"></i> Notifications</a></li>
        <li><a ><i class="far fa-envelope fa-sm"></i> Messages</a></li>
        <li><a ><i class="far fa-bookmark fa-sm"></i> Bookmarks</a></li>
        <li><a ><i class="fas fa-clipboard-list fa-sm"></i> Lists</a></li>
        <li><a href="#"><i class="fas fa-user fa-sm"></i> Profile</a></li>
        <li><a><i class="fas fa-chevron-circle-down fa-sm"></i> More</a></li>
    </ul>
    <a class="btn btn-primary" style="width: 250px; padding:10px; font-size:20px; border-radius:30px; color: white;"><b>Tweet</b></a>
    <app-logout></app-logout>
</nav>
