<div *ngIf="userProfileCard.backgroundPath; else loading">
  <app-profile-card [userProfileCard]="userProfileCard"></app-profile-card>
  <div class="btn-group d-flex border-bottom mt-3" role="group">
    <div class="btn-caps">
      <a type="button" class="btn nav-btn" (click)="show1()">
        <div class="btn-inside" [class.fw-bolder]="displaySection == ''">
          Tweet
          <div *ngIf="displaySection == ''" class="btn-active"></div>
        </div>
      </a>
    </div>
    <div class="btn-caps">
      <a type="button" class="btn nav-btn" (click)="show2()">
        <div class="btn-inside" [class.fw-bolder]="displaySection == 'with_replies'">
          Tweets & replies
          <div *ngIf="displaySection == 'with_replies'" class="btn-active"></div>
        </div>
      </a>
    </div>
    <div class="btn-caps">
      <a type="button" class="btn nav-btn" (click)="show3()">
        <div class="btn-inside" [class.fw-bolder]="displaySection == 'media'">
          Media
          <div *ngIf="displaySection == 'media'" class="btn-active"></div>
        </div>
      </a>
    </div>
    <div class="btn-caps">
      <a type="button" class="btn nav-btn" (click)="show4()">
        <div class="btn-inside" [class.fw-bolder]="displaySection == 'likes'">
          Likes
          <div *ngIf="displaySection == 'likes'" class="btn-active"></div>
        </div>
      </a>
    </div>
  </div>
  <div *ngIf="ownTweets">
    <div *ngIf="displaySection == ''">
      <app-tweet *ngFor="let tweet of ownTweets" [tweet]="tweet"></app-tweet>
    </div>
  </div>
  <div *ngIf="nonReplyOwnTweets">
    <div *ngIf="displaySection == 'with_replies'">
      <app-tweet *ngFor="let tweet of nonReplyOwnTweets" [tweet]="tweet"></app-tweet>
    </div>
  </div>
  <div *ngIf="mediaTypeTweets">
    <div *ngIf="displaySection == 'media'">
      <app-tweet *ngFor="let tweet of mediaTypeTweets" [tweet]="tweet"></app-tweet>
    </div>
  </div>
  <div *ngIf="likedTweets">
    <div *ngIf="displaySection == 'likes'">
      <app-tweet *ngFor="let tweet of likedTweets" [tweet]="tweet"></app-tweet>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="d-flex justify-content-center align-items-center" style="height: 700px;">
    <div class="spinner-border text-primary" role="status">
    </div>
  </div>
</ng-template>
