.new-tweet-text {
  resize: none;
  border: none;
  width: 100%;
  height: 100px;
}

.new-tweet-text::-webkit-scrollbar {
  width: 0;
}

.tweet-submit-btn:hover {
  background-color: rgb(26, 140, 216);
}

.upload-image-svg {
  width: 25px;
  fill: #1da1f2;
}

.upload-image-svg-cap:hover {
  cursor: pointer;
  background-color: #e8f5fd;
  border-radius: 9999px;
}

.square {
  min-width: 50px;
}
