<input type="text" id="search-input" placeholder="Search Twitter" (keyup)="search($any($event.target).value)">
<div #dropdownRef ngbDropdown>
  <div ngbDropdownMenu id="search-results" style="width:420px;">
    <div *ngIf="searchResults.length > 0; else noMatch">
      <div ngbDropdownItem *ngFor="let result of searchResults"
      class="position-relative border-top d-flex">
      <div class="rounded-img-container" style="margin-right:10px;">
        <img class="rounded-img" style="width:60px; height:60px;" [src]="result.profilePicPath">
      </div>
      <div class="d-flex flex-column">
        <label class="mb-0" style="font-weight:bold; color:black;">{{result.fullname}} </label>
        <label style="opacity: 0.9; color:#6D7F90 ;">@{{result.username}} </label>
      </div>
      <a class="stretched-link" routerLink="/{{result.id}}"></a>
    </div>
    </div>
    <ng-template ngbDropdownItem #noMatch> No match found</ng-template>
  </div>
</div>
