/* You can add global styles to this file, and also import other style files */
*, html {
  padding: 0;
  margin: 0;
 }

 html {
  overflow-y: scroll;
 }

 .rounded-img-container {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
 }

 .rounded-img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  object-fit: cover;
  object-position: center;
 }

 /*Scrollable part css*/
.scrollable1 {
  overflow: hidden;
  position: relative;
 }

 .scrollable2 {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: -15px;
  overflow: auto;
  width: max-content;
 }

  .scrollable2::-webkit-scrollbar {
   width: 0;
   background-color: transparent;
  }

 .scrollable1::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
 }
