/* You can add global styles to this file, and also import other style files */
*, html {
  padding: 0;
  margin: 0;
 }

 html {
  overflow-y: scroll;
 }

 .rounded-img-container {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
 }

 .rounded-img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  object-fit: cover;
  object-position: center;
 }
